.Pokedex{
    text-align: center;
}
.Pokedex-cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.Pokedex-winner{
    color: green;
    margin: 5px;
    font-size: 25px;
}
.Pokedex-looser{
    color: red;
    margin: 5px;
    font-size: 25px;
}