.Machine {   
    border: 4px solid black;
    background: lightseagreen;
}
/* just to show convention of naming (kebab-case), both classes, are not used in the code*/
.Machine-win {
    background: yellowgreen;
}
.Machine-loose {
    background: lightgreen;
}
